[submodule "externals/libwdi"]
	path = externals/libwdi
	url = https://github.com/xsesion/libwdi.git
[submodule "externals/xilinx-usb-driver"]
	path = externals/xilinx-usb-driver
	url = https://github.com/xsession/xilinx-usb-driver.git
